services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    ports:
      - "3000:8080"
    environment:
      # 告诉界面去连接你电脑(Windows)上已经运行的Ollama
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
    volumes:
      - open-webui_data:/app/backend/data
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  open-webui_data: